<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 
 <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>QueryVentas</servlet-name>
        <servlet-class>Controlador.QueryVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterClientProveedor</servlet-name>
        <servlet-class>Controlador.RegisterClientProveedor</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>QueryProducts</servlet-name>
        <servlet-class>Controlador.QueryProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assign</servlet-name>
        <servlet-class>Controlador.assign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Extra_provider</servlet-name>
        <servlet-class>Controlador.Extra_provider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankInfo</servlet-name>
        <servlet-class>Controlador.BankInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeApplicationEmployes</servlet-name>
        <servlet-class>Controlador.SeeApplicationEmployes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSolution</servlet-name>
        <servlet-class>Controlador.RegisterSolution</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <!---  VISTAS convertidor de ruta a nombre PERFIL ADMINISTRADOR  -->
    <servlet>
        <servlet-name>perfila</servlet-name>
        <jsp-file>/Administrador/perfil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>registrara</servlet-name>
        <jsp-file>/Administrador/administrador_registrar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adminacept</servlet-name>
        <jsp-file>/Administrador/admin_acept_cliente.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>registrare</servlet-name>
        <jsp-file>/Administrador/empleado_registrar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>registrard</servlet-name>
        <jsp-file>/Administrador/directivo_registrar.jsp</jsp-file>
    </servlet>
       <!---  VISTAS convertidor de ruta a nombre query  -->
    <servlet>
        <servlet-name>consulta</servlet-name>
        <jsp-file>/Administrador/query.jsp</jsp-file>
    </servlet>
       <!--- VISTAS convertidor de ruta a nombre consltadocumento  -->
    <servlet>
        <servlet-name>consultadoc</servlet-name>
        <jsp-file>/Administrador/documento_consulta.jsp</jsp-file>
    </servlet>
    
    
       <servlet>
        <servlet-name>solicituddetall</servlet-name>
        <jsp-file>/Administrador/solicitud_vista.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>gsolicituddetall</servlet-name>
        <jsp-file>/Gerente/solicitud_vista.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>esolicituddetall</servlet-name>
        <jsp-file>/Empleado/solicitud_vista.jsp</jsp-file>
    </servlet>
    
   <servlet>
        <servlet-name>verdocs</servlet-name>
        <jsp-file>/Administrador/ver_documentos.jsp</jsp-file>
    </servlet>
     <servlet>
        <servlet-name>adminconsultasol</servlet-name>
        <jsp-file>/Administrador/consulta_solicitud.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>gconsultasol</servlet-name>
        <jsp-file>/Gerente/consulta_solicitud.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>econsultasol</servlet-name>
        <jsp-file>/Empleado/consulta_solicitud.jsp</jsp-file>
    </servlet>
    
    
    <!---  VISTAS convertidor de ruta a nombre PERFIL CLIENTE  -->
    <servlet>
        <servlet-name>perfilc</servlet-name>
        <jsp-file>/Cliente/perfil.jsp</jsp-file>
    </servlet>
     <servlet>
        <servlet-name>credito</servlet-name>
        <jsp-file>/Cliente/credito.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cverdocs</servlet-name>
        <jsp-file>/Cliente/ver_documentos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>gverdocs</servlet-name>
        <jsp-file>/Gerente/ver_documentos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>pverdocs</servlet-name>
        <jsp-file>/Proveedor/ver_documentos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>everdocs</servlet-name>
        <jsp-file>/Empleado/ver_documentos.jsp</jsp-file>
    </servlet>
    <!---  VISTAS convertidor de ruta a nombre PERFIL PROVEEDOR  -->
    <servlet>
        <servlet-name>perfilp</servlet-name>
        <jsp-file>/Proveedor/perfil.jsp</jsp-file>
    </servlet>
    <!---  VISTAS convertidor de ruta a nombre PERFIL GERENTE  -->
    <servlet>
        <servlet-name>perfilg</servlet-name>
        <jsp-file>/Gerente/perfil.jsp</jsp-file>
    </servlet>
    <!---  VISTAS convertidor de ruta a nombre PERFIL EMPLEADO  -->
    <servlet>
        <servlet-name>perfile</servlet-name>
        <jsp-file>/Empleado/perfil.jsp</jsp-file>
    </servlet>
   
   
   
   
   
     <servlet>
        <servlet-name>clientcotizacion</servlet-name>
        <jsp-file>/Cliente/cotizacion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>gerentequery</servlet-name>
        <jsp-file>/Gerente/query.jsp</jsp-file>
    </servlet>


<servlet>
        <servlet-name>gerenteconsulta</servlet-name>
        <jsp-file>/Gerente/documento_consulta.jsp</jsp-file>
    </servlet>
    <!---  
    
   
    
    toma el nombre y lo convierte a ruta de navegador PERFIL ADMINISTRADOR
    -->
    <servlet>
        <servlet-name>RegisterAdmin</servlet-name>
        <servlet-class>Controlador.RegisterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controlador.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorr</servlet-name>
        <jsp-file>/Error/errorRedir.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>Controlador.UpdatePassword</servlet-class>
    </servlet>
    <!--- 
    toma el nombre y lo convierte a ruta de navegador PERFIL CLIENTE 
    
    
    -->
    <servlet>
        <servlet-name>LoadCountries</servlet-name>
        <servlet-class>Controlador.LoadCountries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEmploye</servlet-name>
        <servlet-class>Controlador.RegisterEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptUser</servlet-name>
        <servlet-class>Controlador.AceptUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>Controlador.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryUsers</servlet-name>
        <servlet-class>Controlador.QueryUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>Controlador.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryDocuments</servlet-name>
        <servlet-class>Controlador.QueryDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterExecutive</servlet-name>
        <servlet-class>Controlador.RegisterExecutive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeDocuments</servlet-name>
        <servlet-class>Controlador.SeeDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoc</servlet-name>
        <servlet-class>Controlador.DeleteDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuerySolicitudes</servlet-name>
        <servlet-class>Controlador.QuerySolicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeApplication</servlet-name>
        <servlet-class>Controlador.SeeApplication</servlet-class>
    </servlet>
    
    
    
    
    <servlet-mapping>
        <servlet-name>perfila</servlet-name>
        <url-pattern>/Administrador</url-pattern>
        <url-pattern>/Administrador/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrara</servlet-name>
        <url-pattern>/Administrador/administrador_registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrare</servlet-name>
        <url-pattern>/Administrador/empleado_registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrard</servlet-name>
        <url-pattern>/Administrador/directivo_registrar</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>clientcotizacion</servlet-name>
        <url-pattern>/Cliente/cotizacion</url-pattern>
    </servlet-mapping>

    <!---  toma el nombre y lo convierte a ruta de navegador PERFIL CLIENTE -->
    
    <servlet-mapping>
        <servlet-name>gerentequery</servlet-name>
        <url-pattern>/Gerente/query</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>gerenteconsulta</servlet-name>
        <url-pattern>/Gerente/consultadoc</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>perfilc</servlet-name>
        <url-pattern>/Cliente</url-pattern>
        <url-pattern>/Cliente/perfil</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>solicituddetall</servlet-name>
        <url-pattern>/Administrador/solicituddetall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gsolicituddetall</servlet-name>
        <url-pattern>/Gerente/solicituddetall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>esolicituddetall</servlet-name>
        <url-pattern>/Empleado/solicituddetall</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>cverdocs</servlet-name>
        <url-pattern>/Cliente/ver_docs</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>gverdocs</servlet-name>
        <url-pattern>/Gerente/ver_docs</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>pverdocs</servlet-name>
        <url-pattern>/Proveedor/ver_docs</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>everdocs</servlet-name>
        <url-pattern>/Empleado/ver_docs</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>credito</servlet-name>
        <url-pattern>/Cliente/credito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfilp</servlet-name>
        <url-pattern>/Proveedor</url-pattern>
        <url-pattern>/Proveedor/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfilg</servlet-name>
        <url-pattern>/Gerente</url-pattern>
        <url-pattern>/Gerente/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfile</servlet-name>
        <url-pattern>/Empleado</url-pattern>
        <url-pattern>/Empleado/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorr</servlet-name>
        <url-pattern>/Error/errorRedir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta</servlet-name>
        <url-pattern>/Administrador/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultadoc</servlet-name>
        <url-pattern>/Administrador/consultadoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verdocs</servlet-name>
        <url-pattern>/Administrador/ver_docs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminacept</servlet-name>
        <url-pattern>/Administrador/aceptar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminconsultasol</servlet-name>
        <url-pattern>/Administrador/consultasol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gconsultasol</servlet-name>
        <url-pattern>/Gerente/consultasol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>econsultasol</servlet-name>
        <url-pattern>/Empleado/consultasol</url-pattern>
    </servlet-mapping>
    
    <!---  controladores  -->
    <!---  SINGNIN  -->
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Controlador.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn.do</url-pattern>
    </servlet-mapping>
    <!---  LOGOUT  -->
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controlador.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut.do</url-pattern>
    </servlet-mapping>
    <!---  tiempo de sesion  -->
    <servlet-mapping>
        <servlet-name>RegisterAdmin</servlet-name>
        <url-pattern>/RegisterAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCountries</servlet-name>
        <url-pattern>/LoadCountries.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEmploye</servlet-name>
        <url-pattern>/RegisterEmploye.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptUser</servlet-name>
        <url-pattern>/AceptUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryUsers</servlet-name>
        <url-pattern>/QueryUsers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryDocuments</servlet-name>
        <url-pattern>/QueryDocuments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterExecutive</servlet-name>
        <url-pattern>/RegisterExecutive.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeDocuments</servlet-name>
        <url-pattern>/SeeDocuments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoc</servlet-name>
        <url-pattern>/DeleteDoc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuerySolicitudes</servlet-name>
        <url-pattern>/QuerySolicitudes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeApplication</servlet-name>
        <url-pattern>/SeeApplication.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryVentas</servlet-name>
        <url-pattern>/QueryVentas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryProducts</servlet-name>
        <url-pattern>/QueryProducts.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterClientProveedor</servlet-name>
        <url-pattern>/RegisterClientProveedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assign</servlet-name>
        <url-pattern>/assign.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Extra_provider</servlet-name>
        <url-pattern>/Extra_provider.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankInfo</servlet-name>
        <url-pattern>/BankInfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeApplicationEmployes</servlet-name>
        <url-pattern>/SeeApplicationEmployes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSolution</servlet-name>
        <url-pattern>/RegisterSolution.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!---  dependencia para persistencia  -->
    <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>4.12</version>
        <scope>test</scope>
    </dependency>
   

    
    
    gconsultasol
    
</web-app>
