<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ApadinforetPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>DTO.Solicitud</class>
    <class>DTO.Documento</class>
    <class>DTO.EstatusSolicitud</class>
    <class>DTO.Persona</class>
    <class>DTO.Usuario</class>
    <class>DTO.TipoUsuario</class>
    <class>DTO.UserSistem</class>
    <class>DTO.Notificacion</class>
    <class>DTO.EstadoNotificacion</class>
    <class>DTO.DocumentoPropio</class>
    <class>DTO.DocumentoSolicitud</class>
    <class>DTO.ExtraProveedor</class>
    <class>DTO.InfoBancaria</class>
    <class>DTO.TipoSolicitud</class>
    <class>DTO.Textos</class>
    <class>DTO.Producto</class>
    <class>DTO.Imagen</class>
    <class>DTO.Ventas</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3307/inforetbd?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="admin1234"/>
      <!--        <property name="javax.persistence.jdbc.url" value="jdbc:mysql://inforetbd.c9hle1z4avp6.us-east-1.rds.amazonaws.com/inforetbd?zeroDateTimeBehavior=convertToNull"/>
        <property name="javax.persistence.jdbc.user" value="admin"/>
        <property name="javax.persistence.jdbc.password" value="admin12345"/>
        <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>-->
    </properties>
  </persistence-unit>
</persistence>
